$midnight-green: "0B485B";
$battery-charged-blue: "#19C1CE";
$bright-turquoise: "07E5EB";
$maximum-yellow-red: "#F2BF4E";
$orange-yellow: "F4CA6D";
$black: "000000";
$dark-gun-metal: "#212429";
$roman-silver: "7E8A98";
$manatee: "97A1AC";
$light-gray: "CFD3D8";
$anti-flash-white: "#F1F3F5";
$white: "FFFFFF";
