h1 {
  font-size: 62px;
  line-height: 100%;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-size: 56px;
  line-height: 100%;
  font-weight: 900;
}
h3 {
  font-size: 40px;
  line-height: 100%;
  font-weight: 900;
}

h4 {
  font-size: 32px;
  line-height: 110%;
}
h5 {
  font-size: 24px;
  line-height: 110%;

  @media only screen and (min-width: 1200px) {
    font-size: 32px;
  }
}
