.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  padding: 22px;
}

.logo {
  width: 110px;
  height: 100%;
}

.buttons button {
  display: none;
  background-color: #fff;
}
