.hamburgerMenu input[type="checkbox"] {
  display: none;
}

.hamburgerMenu label {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
}

.hamburgerMenu span {
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  background-color: #19c1ce;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  border-radius: 10px;
}

.hamburgerMenu span:first-child {
  transform-origin: top left;
}

.hamburgerMenu span:last-child {
  transform-origin: bottom left;
}

.hamburgerMenu input[type="checkbox"]:checked ~ label span:first-child {
  transform: rotate(45deg);
}

.hamburgerMenu input[type="checkbox"]:checked ~ label span:last-child {
  transform: rotate(-45deg);
}

.hamburgerMenu input[type="checkbox"]:checked ~ label span:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu ul {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 16px;
}

.hamburgerMenu ul li {
  padding: 16px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.hamburgerMenu ul li:last-child {
  border-bottom: none;
}

.hamburgerMenu input[type="checkbox"]:checked ~ ul {
  opacity: 1;
  visibility: visible;
}

.buttonContainer {
  background-color: #f1f3f5;
  display: flex;
  justify-content: center;
  gap: 8px;
}
