.grid {
  display: grid;
  background: #fff;
}

.main {
  padding: 40px 16px;
  display: grid;
  grid-template: auto / auto;
  gap: 24px;
  background: #f1f3f5;
  .form {
    border: 1px solid black;
    height: 1119px;
    width: 328px;
    background-color: white;
  }
}

.rdMarketing {
  background-color: #0b485b;
  padding-top: 8px;
  .rdMarketingContainer {
    position: relative;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .cut {
      width: 0;
      height: 0;
      border-top: 24px solid transparent;
      border-bottom: 24px solid transparent;
      border-right: 24px solid #f1f3f5;
      transform: rotate(45deg);
      position: absolute;
      left: -4px;
      top: -25px;
    }
  }
}

.results {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f1f3f5;
  gap: 8px;
  .imageContainer {
    position: relative;
    background-image: url("./images/img-rdoer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 325px;
    .triangle {
      position: absolute;
      top: -1px;
      right: 0;
      width: 65px;
      height: 65px;
      background-color: #f1f3f5;
      transform: rotate(90deg);
      -webkit-clip-path: polygon(50% 0, 100% 0, 0 100%);
      clip-path: polygon(0% 0, 100% 0, 0 100%);
    }
  }

  .list {
    margin-top: 16px;
    list-style: none;
    padding: 0;
  }

  .item {
    margin: 0 0 10px 0;
    padding: 0 0 0 40px;
    background: url("./images/icons/checkmark.svg") no-repeat left center;
  }

  .check-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
  }
}

.tool {
  padding: 16px;
  width: 100%;
  max-width: 348px;
  background-color: #fff;
}

.accountContainer {
  padding: 16px;
  background-color: #fff;
  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    background-color: #0b485b;
    padding: 40px 16px;
  }
}

.rdVideo {
  background-color: #f1f3f5;
  padding: 40px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  .videoContainer {
    margin-top: 16px;
    width: 100%;
    aspect-ratio: 2 / 1;
    background-image: url("./images/video-modal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .playIcon {
      min-width: 80px;
      min-height: 80px;
    }
  }
}

.operation {
  background-color: #f1f3f5;
  padding: 40px 16px 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  .icons {
    margin: 32px 0;
    width: 330px;
    display: grid;
    grid-template: auto auto / auto auto;
    row-gap: 40px;
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

.rdFooter {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19c1ce;
  padding: 24px 16px 40px 16px;
  .line {
    border: 0.5px solid #78edf2;
    width: 100%;
  }
  .logo {
    width: 174px;
    height: 32px;
  }
  .iconContainer {
    display: flex;
    gap: 24px;
    .icon {
    }
  }
}
