.main {
  padding: 40px 16px;
  display: grid;
  grid-template: auto / auto;
  gap: 24px;
  background: #f1f3f5;
  .form {
    border: 1px solid black;
    height: 1119px;
    width: 328px;
    background-color: white;
  }
}
